.ButtonContainer {
  display: flex;
  justify-content: center;
  width: 140px;
  height: 50px;
  background: #667788;
  border-radius: 5px;
  /*padding: 16px;*/
  /*box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);*/
  box-shadow: 0 1px 1px rgba(102,119,136,.55);
}

.ButtonText {
  /*display: block;*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
